<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet">


</head>
<body>

<header>

    {% if logged %}
        <nav>
            <div class="btn-group">
                <a href="{{ url_for('wallet') }}" class="btn btn-primary">
                    Wallet
                </a>
                <a href="{{ url_for('profile') }}" class="btn btn-primary">
                    Profile
                </a>
                <a href="{{ url_for('membership') }}" class="btn btn-primary">
                    Membership
                </a>
                <a href="{{ url_for('explore') }}" class="btn btn-primary">
                    Explore
                </a>
                <a href="{{ url_for('portfolio') }}" class="btn btn-primary">
                    Portfolio
                </a>
                <a href="{{ url_for('blog-list') }}" class="btn btn-primary">
                    Blog
                </a>
                <a href="{{ url_for('signIn') }}" class="btn btn-primary">
                    Sign-In
                </a>
                <a href="{{ url_for('signUp') }}" class="btn btn-primary">
                    Sign-Up
                </a>
            </div>
        </nav>
    {% else %}
        <nav>
            <div class="btn-group">
                <a href="{{ url_for('signIn') }}" class="btn btn-primary">
                    Sign-in
                </a>
                <a href="{{ url_for('signUp') }}" class="btn btn-primary">
                    Sign-up
                </a>
            </div>
        </nav>
    {% endif %}

</header>
{% block content %}{% endblock %}
<footer>
    <h3>Copyright Team 11 2022</h3>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/index.js"></script>
</html>