{% extends "base.twig" %}

{% block title %}Change Password | PixSalle{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <form action="{{ formAction }}" method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Old Password</span>
            <input type="password" name="oldPassword" class="form-control">
        </div>
        {% if formErrors['wrongOldPassword'] %}
            <p data-cy="changePass__wrongOldPassword">{{ formErrors['wrongOldPassword'] }}</p>
        {% endif %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">New Password</span>
            <input type="password" name="newPassword" class="form-control">
        </div>
        {% if formErrors['formatNewPassword'] %}
            <p data-cy="changePass__wrongFormatNewPassword">{{ formErrors['formatNewPassword'] }}</p>
        {% endif %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Repeat password</span>
            <input type="password" name="confirmPassword" class="form-control">
        </div>
        {% if formErrors['newPassMatch'] %}
            <p data-cy="changePass__newPassMatch">{{ formErrors['newPassMatch'] }}</p>
        {% endif %}
        {% if formErrors['formatMatchPassword'] %}
            <p data-cy="changePass__wrongFormatMatchPassword">{{ formErrors['formatMatchPassword'] }}</p>
        {% endif %}
        {% if formErrors['passDoNotMatch'] %}
            <p data-cy="changePass__passDoNotMatch">{{ formErrors['passDoNotMatch'] }}</p>
        {% endif %}
        <input type="submit" value="Reset Password" class="btn btn-primary">
    </form>
{% endblock %}