{% extends "base.twig" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <form action="{{ formAction }}" method="POST">
        <label for="oldPassword">Old Password:
            <input type="password" name="oldPassword" placeholder="Enter you actual password">
        </label><br>
        {% if formErrors['wrongOldPassword'] %}
            <p data-cy="changePass__wrongOldPassword">{{ formErrors['wrongOldPassword'] }}</p>
        {% endif %}
        <label for="newPassword">New Password:
            <input type="password" name="newPassword" placeholder="Enter your new password">
        </label><br>
        {% if formErrors['formatNewPassword'] %}
            <p data-cy="changePass__wrongFormatNewPassword">{{ formErrors['formatNewPassword'] }}</p>
        {% endif %}
        <label for="confirmPassword">Confirm Password:
            <input type="password" name="confirmPassword" placeholder="Repeat you new password">
        </label><br>
        {% if formErrors['formatMatchPassword'] %}
            <p data-cy="changePass__wrongFormatMatchPassword">{{ formErrors['formatMatchPassword'] }}</p>
        {% endif %}
        {% if formErrors['passDoNotMatch'] %}
            <p data-cy="changePass__passDoNotMatch">{{ formErrors['passDoNotMatch'] }}</p>
        {% endif %}
        <input type="submit" value="Reset Password">
    </form>
{% endblock %}